.deatils-map{
    max-width: 1280px;
    padding: 0;
    padding-bottom: 40px;
    h2{
        font-family: airbnb-medium;
        line-height: 26px;
        font-size: 22px;
        border-top: 1px solid $clr10;
        padding-top: 40px;
    padding-bottom: 10px;
    }
   
}