.labels-select {
    height: (100px);
    z-index: 2;
    position: sticky;
    background-color: white;
    top: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 100;

    .filter-btn {
        position: fixed;
        right: 46%;
        bottom: 48px;
        border-radius: 30px;
        display: flex;
        align-self: center;
        border: 1px solid $clr10;
        width: 120px;
        height: 50px;
        align-items: center;
        justify-content: space-around;
        font-family: airbnb-medium;
        border-radius: 30px;
        background-color: black;
        color: white;
        font-size: 14px;

        // padding: 1.3em 3em;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #B87C4C;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }

        &:active {
            transform: translateY(-1px);
        }
    }

    border-color: $clr9;

    .fillters {
        font-family: airbnb-medium;
        border-color: $clr10;
        border-style: groove;
        padding: 0 7px;
    }

    .labels-list {
        display: flex;
        // position: relative;
        justify-content: flex-start;
        width: 100%;

        .carousel {
            width: 100%;
        }
    }


    .labels-wrapper {
        font-size: rem(12px);
        margin-inline-end: rem(8px);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        filter: contrast(0.295455);
        column-gap: rem(10px);
        align-items: center;
        height: 100%;
        padding: rem(10px) 0;
        cursor: pointer;
        filter: contrast(0.295455);

        &:hover {
            filter: none;
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.183);
        }

        &:after {
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.183);
        }

        .labels-img {
            max-width: rem(26px);
        }



    }



    .carousel__next,
    .carousel__prev {
        box-shadow: 1px 1px 14px 13px white;
        background-color: #fff;
        color: $clr5;
        border-color: rgb(0, 0, 0, 0.3);
        border-style: groove;
        border-bottom-color: rgb(0, 0, 0, 0.3);
        border-top-color: rgb(0, 0, 0, 0.3);
        border-radius: 50%;
        border-width: 0.05px;


        // box-shadow:  rgba(255, 255, 255, 0.614) 20px 20px 20px;
        &:hover {
            box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
            transition: box-shadow 0.2s ease 0s;
        }


    }

}

.carousel__prev--in-active,
.carousel__next--in-active {
    display: none;
}

@media (max-width:$break-narrow) {
    .labels-select {
        padding: 0;

        .filter-btn,
        button {
            display: none;
        }

        .labels-wrapper {
            height: 50%;
        }

        .labels-list .carousel {
            width: auto;
        }



    }
}