
.labels-select {
    height: (100px);
    z-index: 2;
    position: sticky;
    background-color: white;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 3px;
    padding-left: 97px;
  
    .filter-btn{
        position: absolute;
        right: 80px;
        display: flex;
        align-self: center;
        border: 1px solid $clr10;
        width: 90.56px;
        height: 48px;
        align-items: center;
        justify-content:space-around;
        font-family: airbnb-medium;
        border-radius: 10px;
        background-color: white;
        font-size: 12px;
        }

    border-color: $clr9;
    // padding-top: 97px;
    // padding-bottom: 15px;
  
    .fillters {
        @include for-narrow-layout {
            position:absolute;
            right:24px;
        }
        @include for-normal-layout {
            position:absolute;
            right:40px;
        }
        @include for-wide-layout {
            position:absolute;
            right:80px;
        }
        @include for-max-layout {
            position:absolute;
            right:80px;
        }
        font-family: airbnb-medium;
        border-color: $clr10;
        border-style: groove;
        padding:  0 7px; 
    }

    .labels-list{
        display: flex;

    }


    .labels-wrapper {
        :focus {
            box-shadow: inset 0 -3px 0 0 rgb(5, 5, 5); 
        }
        font-size: rem(12px);
        // margin-inline-end: rem(40px); 
        font-weight: 600;
        display: flex;
        flex-direction: column;
        filter: contrast(0.295455);
        column-gap: rem(10px);
        align-items: center;
        height: 100%;
        padding: rem(10px) 0;
        cursor: pointer;
        filter: contrast(0.295455);
        &:hover {
            filter: none;
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.183);
        }
        &:after{
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.183);
        }
     
        .labels-img {
            max-width: rem(26px);
        }

        

    }
    // .labels-wrapper:nth-child(2){
    //     margin-inline-end: 0;
    // }

    .carousel__next, .carousel__prev {
        box-shadow: 1px 1px 14px 13px white;
        background-color: #fff;
        color: $clr5;
        border-color: rgb(0, 0, 0, 0.3);
        border-style: groove;
        border-bottom-color: rgb(0, 0, 0, 0.3);
        border-top-color: rgb(0, 0, 0, 0.3);
        border-radius: 50%;
        border-width: 0.05px;
        // box-shadow:  rgba(255, 255, 255, 0.614) 20px 20px 20px;
        &:hover {
            box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
            transition: box-shadow 0.2s ease 0s;
        }
    }
    // .carousel__prev {
    //     background-color: #fff;
    //     box-shadow: 1px 1px 14px 13px white;
    //     color: $clr5;
    //     border-color: rgb(0, 0, 0, 0.3);
    //     border-style: groove;
    //     border-bottom-color: rgb(0, 0, 0, 0.3);
    //     border-top-color: rgb(0, 0, 0, 0.3);
    //     border-radius: 50%;
    //     border-width: 0.05px;
    //     display: flex;
    //     transform: translate(4px, -16px);
    // }
}