.labels-select {
    height: (100px);
    z-index: 2;
    position: sticky;
    background-color: white;
    top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 100;
    border-color: $clr9;

    .fillters {
        font-family: airbnb-medium;
        border-color: $clr10;
        border-style: groove;
        padding: 0 7px;
    }

    .labels-list {
        display: flex;
        justify-content: flex-start;
        // margin-inline-start: 25px;
        width: 100%;
        overflow-x:scroll;

        .carousel {
            width: 100%;
        }
    }

    .labels-wrapper {
        font-size: rem(12px);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        filter: contrast(0.295455);
        column-gap: rem(10px);
        align-items: center;
        height: 100%;
        padding: rem(10px) 0;
        cursor: pointer;

        &:hover {
            filter: none;
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.183);
        }

        &:after {
            box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.183);
        }

        .labels-img {
            max-width: rem(26px);
        }
    }


    .carousel__next,
    .carousel__prev {
        box-shadow: 1px 1px 14px 13px white;
        background-color: #fff;
        color: $clr5;
        border-color: rgb(0, 0, 0, 0.3);
        border-style: groove;
        border-bottom-color: rgb(0, 0, 0, 0.3);
        border-top-color: rgb(0, 0, 0, 0.3);
        border-radius: 50%;
        border-width: 0.05px;

        &:hover {
            box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px;
            transition: box-shadow 0.2s ease 0s;
        }
    }

}

.carousel__prev--in-active,
.carousel__next--in-active {
    display: none;
}

@media (max-width:$break-narrow) {
    .labels-select {
        padding: 0;



        .labels-wrapper {
            height: 50%;
        }

        .labels-list .carousel {
            width: auto;
        }
    }
}