.reservation-layout {
    padding: rem(24px);
    position: sticky;
    top: rem(140px);
}


.reservation-total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        font-size: 14px;
        margin-bottom: 12px;
        border-bottom: none;

    }

    p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: airbnb-bold;
        font-size: 16px;
        margin-bottom: 0;

        span {
            margin-bottom: 0;
        }
    }

    .total-last {
        border-bottom: 1px solid $clr10;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: airbnb-regular;
        text-decoration: underline;


    }
}

.reservation-header {
    justify-content: space-between;
    align-items: center;
    text-align: center;

    div {
        padding-top: 5px;
        display: flex;
        align-items: end;
        word-spacing: 3px;
        font-size: 14px;

        span {
            padding-top: 4px;
        }

        :last-child {
            text-decoration: underline;
            font-family: airbnb-medium;
            color: $clr9;
        }


    }

}

.reserve-details-sticky {
    font-size: 14px;
    margin-right: 16px;

    span.price {
        font-family: airbnb-medium;
        font-size: 18px;
    }
}

.reserve-btn {
    cursor: pointer;
    font-family: airbnb-medium;
    padding: 16px 0;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle, rgba(255, 49, 91, 1) 0%, #B53471 100%);
    transition: 0.6s;
    color: white;
    background-size: 200%;
    font-size: 16px;
    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    --mouse-x: 81.2304;
    --mouse-y: 54.1667;


    &:hover {
        background-position: right;
    }
}

.reservation-details {
    z-index: 10;
    width: 31%;
    margin-left: 8.33%;
    flex-direction: column;
    height: 100%;
    border: 1px solid #d7d4d4;
    gap: 24px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

    .dot {
        height: 3px;
        width: 3px;
        margin-inline-end: 2px;
    }

    h5,
    h2 {
        margin: 0;
        font-family: airbnb-medium;

        span {
            color: $clr2;
            font-size: rem(16px);
            font-family: airbnb-regular;

        }
    }

    .date-container {

        cursor: pointer;

        .checkin,
        .checkout {
            height: 85%;
            padding: 12px 12px 20px;


        }

        height: 56px;



    }




}

// .el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
    border: none;
    width: 100%;
    padding: 0;

    ::placeholder {
        font-size: 1rem;

        font-family: airbnb-regular;
    }
}





#el-popper-container-9152>div:nth-child(2)>div>div {
    position: fixed;
}

#el-popper-container-1719>div:nth-child(2) {
    // z-index: 10000;
    position: absolute;
    // top: 1104.6px;
    // right: 197px;
    margin: 0px;
}

.el-popper {
    // z-index: 8003;
    margin: 0px;
}



.el-date-range-picker .el-picker-panel__body {
    // min-width: 513px;
    width: 50%;
    position: absolute;
    z-index: 1000;
    background: white;
    /* left: 117px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
}

input {
    border: none;
    font-family: Airbnb-reg;
    font-size: 16px;
}


.option-container {
    flex-direction: column;
    border: 1px solid $clr9;
    border-radius: 10px;

    .date-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: airbnb-regular;
        letter-spacing: 0.5px;
        margin: 0;

        .checkout {

            &:hover {
                background-color: none
            }

            border: none;
            border-left: 1px solid $clr9;
        }
    }

    .checkin,
    .checkout {
        .top {
            font-size: 10px;
        }

    }


}



.dropdown {
    position: relative;
    display: inline-block;


    .dropbtn {
        padding: 12px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: start;
        border-top: 1px solid $clr9;
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        h5 {
            font-weight: 800;
            color: $clr9;
            font-size: 10px;
        }

        span {
            color: $clr2;
        }


    }

    .dropdown-content {
        // flex-direction: column;
        z-index: 10;
        padding: 16px;
        justify-content: space-between;
        border-bottom: 1px solid black;
        background-color: white;

        button {
            border-radius: 50%;
            font-size: rem(16px);
            width: 26px;
            color: rgb(188, 188, 188);
            background-color: white;
            border: 1px solid rgb(188, 188, 188);

            &:hover {
                color: black;
                border-color: black;
            }
        }

        .adult-ctr {
            padding: 0 12px;
        }
    }
}