.stay-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(min-content,max-content);
    grid-gap: 24px;
    flex-wrap: wrap;
    font-size: rem(15px);
    padding-top: 20px;

    .superhost-btn{
        position: absolute;
        top: 16px;
        left: 13px;
        padding: 3px 6px;
        background-color: white;
        border-radius: 5px;
        border: none;
        font-family: "airbnb-medium";
    }
    
// @include for-mobile-layout {
//     // 375px
//     .stay-list {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

// @include for-narrow-layout {
//     // 744px
//     .stay-list {
//         grid-template-columns: repeat(2, calc(1fr - 16px));
//     }
// }

// @include for-normal-layout {
//     // 950px
//     .stay-list {
//         grid-template-columns: repeat(3, 1fr);
//     }
// }

// @include for-wide-layout {
//     // 1128px
//     .stay-list {
//         grid-template-columns: repeat(4, 1fr);
//     }
// }


    .card {
        margin-bottom: 16px;
        cursor: pointer;
        .card-txt {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            color: #222222;
            font-family: airbnb-regular;
            column-gap: 20px;

            .score {

                font-weight: 600;
            }

            .main-txt {
                flex-direction: column;
                line-height: 19px;
                color: #717171;
                max-width: 160px;
                >*{
                    text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 268px;
                }
            }

            .title {
                display: flex;
                justify-content: space-between;

            }


        }

        .card-img {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(10px);
            // counter-increment: card-img;

              
              /* cell number */
            //   .card-img:before {
            //     display: block;
            //     text-align: center;
            //     content: counter(card-img);
            //     line-height: 200px;
            //     font-size: 80px;
            //     color: white;
            //   }
            .like {
                color: aliceblue;
                fill: hsl(0, 0, 0, 0.5);
                position: absolute;
                align-self: flex-end;
                height: 24px;
                margin-top: 14px;
                margin-right: 16px;
            }
        }



    

        .carousel__item {
            aspect-ratio: 1 / 0.94957983193;            ;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 1s;
            left: 0;

    // .carousel__item:before {
    //             display: block;
    //             text-align: center;
    //             content: counter(card-img);
    //             line-height: 200px;
    //             font-size: 80px;
    //             color: white;
    //           }

            img {
                grid-row: 1/2;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5%;
            }

            .image-btn-wraper {
                position: absolute;
                display: flex;
                top: 45%;
                width: 95%;
                justify-content: space-between;
                transition: 0.25s ease 0s, transform 0.25s ease 0s;
                opacity: 1;


                .image-btn {
                    border: none;
                    height: rem(35px);
                    width: rem(35px);
                    border-radius: 50%;
                    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgb(0 0 0 / 18%) 0px 2px 4px;
                    background-color: hsl(0deg 0% 100% / 90%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-clip: padding-box;

                    &:hover {
                        box-shadow: hsl(0deg 0% 100% / 90%) 0px 0px 4px;
                        transition: box-shadow 0.2s ease 0s;
                    }


                    svg {
                        height: rem(12px);
                        width: rem(12px);
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.carousel__item .animate__backInRight{
    transition: 1s;
}

@media (max-width: 1566px) {
    .stay-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1086px) {
    .stay-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .stay-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
// 550
// @media (max-width: 744px) {
//     .stay-list {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }
@media (max-width: 550px) {
    .stay-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

// @include for-mobile-layout {
//     // 375px
//     .stay-list {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

// @include for-narrow-layout {
//     // 744px
//     .stay-list {
//         grid-template-columns: repeat(2, calc(1fr - 16px));
//     }
// }

// @include for-normal-layout {
//     // 950px
//     .stay-list {
//         grid-template-columns: repeat(3, 1fr);
//     }
// }

// @include for-wide-layout {
//     // 1128px
//     .stay-list {
//         grid-template-columns: repeat(4, 1fr);
//     }
// }
