.description-layout{
    justify-content: space-between;
    margin: 0 auto;
    margin-top: rem(48px) ;
    max-width: 1120px;

}

// stay-details{
//     max-width: 1280px;



.img-gallery{
    cursor: pointer;
}
